<% if (authstatus === 1) { %>
    <%- include('header') %>
<% } else { %>
    <%- include('minheader') %>
<% } %>
<blockquote class="blockquote text-center">
    <div class="container">
    <h2>Welcome to the NetApp Kubernetes Demo</h2>
    <h3>You are visitor <%= visits %></h3>
    </div>
    <div class="container">
    <p>NetApp Astra offers stateful Kubernetes workloads a rich set of storage and application-aware data management services powered by NetApp’s trusted data protection technology. NetApp Cloud Services enable you to develop anywhere, on any cloud, on any premises, with one experience.</p>
    <p><img src="/NetAppAstra.png" alt="NetApp HCI" style="width: 125px;"></p>
    </div>
    <div class="container">
    <h3>Application Version: <%= version %></h3>
    </div>
    <div class="container">
    <p><a href="https://cloud.netapp.com/home" target="_blank">NetApp Cloud Solutions</a></p>
    <p><a href="https://cloud.netapp.com/astra" target="_bkank">NetApp Astra</a></p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-right text-monospace small">Remote IP Address: </div>
            <div class="col text-left text-monospace small"><%= requestip %>*</div>
            <div class="w-100"></div>
            <div class="col text-right text-monospace small">Device Type: </div>
            <div class="col text-left text-monospace small"><%= devtype %></div>
            <div class="w-100"></div>
            <div class="col text-right text-monospace small">Your Browser: </div>
            <div class="col text-left text-monospace small"><%= browser %></div>
            <div class="w-100"></div>
            <div class="col text-right text-monospace small">Your OS: </div>
            <div class="col text-left text-monospace small"><%= browseros %></div>
            <div class="w-100"></div>
            <div class="col text-right text-monospace small">Pod Name: </div>
            <div class="col text-left text-monospace small"><%= podname %></div>
            <div class="w-100"></div>
            <div class="col text-right text-monospace small">Node Name: </div>
            <div class="col text-left text-monospace small"><%= nodename %></div>
            <div class="w-100"></div>
            <div class="col text-right text-monospace small">Start Time: </div>
            <div class="col text-left text-monospace small"><%= starttime %></div>
        </div>
    </div>
<br>
<p class="small">* This may be localhost or the load balancer internal address depending on the network configuration</p>
</blockquote>
</body>
</html>