<% include header.ejs %>
<blockquote class="blockquote text-center">
    <div class="container">
    <h2>Welcome to NetApp Kubernetes</h2>
    <h3>You are visitor <%= visits %></h3>
    </div>
    <div class="container">
    <p>NetApp HCI is a scalable, on-premises hybrid cloud infrastructure that transforms your private cloud into a deployable region of your multicloud. Bring your public cloud on-premises and develop anywhere, on any cloud, with one experience.</p>
    <img src="/NetAppHCI.jpg" alt="NetApp HCI">
    </div>
    <div class="container">
    <h3>Application Version: <%= version %></h3>
    </div>
    <div class="container">
    <p><a href="https://cloud.netapp.com/home" target="_blank">NetApp Cloud Solutions</a></p>
    <p><a href="https://www.netapp.com/us/products/converged-systems/hyper-converged-infrastructure.aspx" target="_bkank">NetApp HCI</a></p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-right text-monospace small">Remote IP Address: </div>
            <div class="col text-left text-monospace small"><%= requestip %>*</div>
            <div class="w-100"></div>
            <div class="col text-right text-monospace small">Device Type: </div>
            <div class="col text-left text-monospace small"><%= devtype %></div>
            <div class="w-100"></div>
            <div class="col text-right text-monospace small">Your Browser: </div>
            <div class="col text-left text-monospace small"><%= browser %></div>
            <div class="w-100"></div>
            <div class="col text-right text-monospace small">Your OS: </div>
            <div class="col text-left text-monospace small"><%= browseros %></div>
            <div class="w-100"></div>
            <div class="col text-right text-monospace small">Pod Name: </div>
            <div class="col text-left text-monospace small"><%= podname %></div>
            <div class="w-100"></div>
            <div class="col text-right text-monospace small">Node Name: </div>
            <div class="col text-left text-monospace small"><%= nodename %></div>
            <div class="w-100"></div>
            <div class="col text-right text-monospace small">Start Time: </div>
            <div class="col text-left text-monospace small"><%= starttime %></div>
        </div>
    </div>
<br>
<p class="small">* With Istio this will be localhost or the load balancer internal address</p>
</blockquote>
</body>
</html>